<VirtualHost *:80>
  
  ServerName    webdav.{{ pangolin.domain_name }}
  DocumentRoot  {{ os_vars[os].server_docroot }}/webdav
  
  <Directory "{{ os_vars[os].server_docroot }}/webdav">
    Options +Indexes
    DirectoryIndex disabled
    Dav on
  </Directory>

</VirtualHost>

