<h1><i>DAV</i> Server</h1>
<p style="font-size: 150%">Instructions:</p>
<ol>
 <li>Connect to <a href="http://webdav.pangolin/">http://webdav.pangolin/</a> using <i>DAV</i>.</li>
 <li>Copy the content of htdocs to a sensibly named local folder.</li>
 <li>Edit the content.</li>
 <li>Upload the content to the DAV server to apply your changes. <i><b>DO NOT</b> edit files directly
     on the DAV server, bad things tend to happen to the files. :-(</i>.</li>
</ol>
