<h1><i>DAV</i> Server</h1>
<p style="font-size: 150%">Instructions:</p>
<ol>
 <li>Put your (device) local content in a folder.</li>
 <li>Give that folder a sensible name.</li>
 <li>Upload the folder to <a href="http://webdav.{{ pangolin.domain_name }}/">http://webdav.{{ pangolin.domain_name }}/</a> using <i>DAV</i>.</li>
</ol>
