//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "." {
     type master;
     file "{{ os_vars[os].bind_dir }}/pangolin.fwd";
     notify no;
};

zone "{{ pangolin.server_address.split('.')[0] }}.in-addr.arpa." {
     type master;
     file "{{ os_vars[os].bind_dir }}/pangolin.rev";
     notify no;
};

