$ORIGIN in-addr.arpa.
$TTL 600
{{ pangolin.server_address.split('.')[0] }}.in-addr.arpa. IN SOA	world.{{ pangolin.domain_name }}. nobody.world.{{ pangolin.domain_name }}. (
		   		1	; serial
				600	; refresh 10 minutes
				60	; retry 1 minute
				86400	; expire in 1 day
				600	; minimum TTL 10 minutes
				)

		NS	world.{{ pangolin.domain_name }}.
{{ '.'.join(pangolin.server_address.split('.')[::-1]) }}	PTR	world.{{ pangolin.domain_name }}.


