---
os: debian
host_virt: osx_vbox
# Used by etherpad_server.yml and the etherpad_server role.
nodejs: /opt/downloads/node-v12.16.0-linux-x64.tar.xz
etherpad: /opt/downloads/etherpad-lite-1.8.0-beta.1.zip

pangolin:
  domain_name: pangolin
  server_address: 10.30.47.1
  subnet: 10.0.0.0
  netmask: 255.0.0.0
  cidr: 8
  dhcp_range_start: 10.0.0.1
  dhcp_range_end: 10.0.255.255
  admin_account: animal

os_vars:
  debian:
    dhcp_server: isc-dhcp-server
    dhcp_conf:   /etc/dhcp/dhcpd.conf
    interface:
      osx_vbox: enp0s8
      linux_kvm: ens3
    interfaces: /etc/network/interfaces
    bind: bind9
    bind_dir: /etc/bind
    apache: apache2
    apache_dir: /etc/apache2
    apache_sites: /etc/apache2/sites-enabled
    apache_docroot: /var/www/html
    server_docroot: /var/www
    apache_user: www-data
    apache_group: www-data
    pip3: python3-pip
    # Used by etherpad_server.yml and the etherpad_server role.
    git: git
    zip: zip

    
